*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: thin solid rgba(0, 0, 0, 0.153);
}
.get-in a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: 0.20;
}
.get-in a:hover{
    text-decoration: underline;
    color: black;
}
/* header ends */

.hero-secwrp{
    display: flex;
    width: 80%;
    margin: auto;
}

.mailbox{
    padding: 20px 0px;
}

.hero-body{
    margin: auto;
    padding: 20px;
    font-size: 20px;
}

.inertxt {
    width: 90%;
    padding: 20px 0px;
}
.hero-body input{
    height: 50px;
    width: 100%;
    padding: 10px;
}
.innertxt1{
    padding: 10px 0px;
    line-height: 2em;
}

.Forgot{
    padding: 20px 0px;
}

.Forgot a{
    color: #0071eb;
    text-decoration: none;
    transition: 0.20s;
}
.Forgot a:hover{
    text-decoration: underline;
    color:#0071eb ;
}
.next a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    background-color: red;
    padding: 15px;
    width: 100%;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.footer-wrap{
    background-color: rgba(250, 235, 215, 0.164);
    /* margin-top: 150px; */
    padding: 40px ;
}

.footer-body{
    display: flex;
    gap: 80px;
    line-height: 3em;
    padding: 30px 0px;
}
.Contact{
    text-decoration: none;
    transition: 0.20s;
    color: rgba(0, 0, 0, 0.653);
}

.Contact:hover{
    text-decoration: underline;
}

.footer-body a{
    text-decoration: none;
    transition: 0.20s;
    color: rgba(0, 0, 0, 0.653);
}

.footer-body a:hover{
    text-decoration: underline;
}

/* media quary for footer */

@media(max-width:594px){
    .footer-body{
        display: block;
    }
}